.btn-gradient.purple {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8689C9, #7793FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8689C9, #7793FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-outline-gradient.purple {
    border: 1px solid #8E2DE2;  /* fallback for old browsers */
    color: #8E2DE2;
    background-color: transparent;
}